<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand">
                <img src="https://visualpharm.com/assets/299/Wikipedia-595b40b85ba036ed117dc5e7.svg" width="30" height="30" alt="Wiki">
            </a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('student') }}">Student</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('discipline') }}">Discipline</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Exit</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% block content %}


<div class="col-md-6 mx-auto">

    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">

            <form class="form"  action = "/{{action}}" method = post >
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.student_name.label }}
                    {{ form.student_name(class_="form-control") }}

                    {% if form.student_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_name.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_surname.label }}
                    {{ form.student_surname(class_="form-control") }}

                    {% if form.student_surname.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_surname.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_age.label }}
                    {{ form.student_age(class_="form-control") }}

                    {% if form.student_age.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_age.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_spec.label }}
                    {{ form.student_spec(class_="form-control") }}

                    {% if form.student_spec.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_spec.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_course.label }}
                    {{ form.student_course(class_="form-control") }}

                    {% if form.student_course.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_course.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_group.label }}
                    {{ form.student_group(class_="form-control") }}

                    {% if form.student_group.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_group.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.student_password.label }}
                    {{ form.student_password(class_="form-control") }}

                    {% if form.student_password.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.student_password.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>
